* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: black;
}

header {
    margin-top: 15px;
}

h2 {
    color: #7d97ad;
}

hr {
    border: 1px solid #7d97ad;
    padding: 0;
}

img {
    width: 100%;
}

.logo-icon {
    width: 50%;
    height: 50%;
}

.banner {
    width: 100%;
}

.name {
    text-align: right;
}

.project {
    margin-bottom: 10px;
}

/* MEDIA QUERIES */

/* DESKTOP */
@media screen and (min-width: 991px) {
    h1, h5 {
        text-align: right;
    }

    h2 {
        text-align: left;
    }

    .logo-icon {
        width: 100%;
        height: 100%;
    }
}